h1{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

a {
    list-style: none;
    color: #8B8D98;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

header .navbar.fixed-top {
    background: #fff;
    box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.10);
}

main.bg-light {
    height: 100vh;
}

main .container.photos-section {
    margin-top: 5em;
}

main .container.photos-section.pb-4 {
    background-color: #fff;
}

main .col-12-12.col-md-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

main .col-12-12.col-md-2 .card {
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

main .col-12-12.col-md-2 .card {
    cursor: pointer;
}

main .col-12-12.col-md-2 .card:hover {
    border: 1px solid red;
}

main .col-12-12.col-md-2 .card.check {
    border: 1px solid red;
}

main .card-body.d-flex.justify-content-between.p-1{
    padding-bottom:0px;
    margin-bottom: 0px;
}