body {
  background: url('./banner-eunafoto.png') no-repeat center center fixed;
  background-size: cover;
  font-family: arial;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

header .navbar.fixed-top {
  background: #fff;
  
}


main section div.row.form-section {
  margin-top: 12em;

}

main .form-section form {
  background-color: #fff;
  border-radius: 15px;
  padding: 3em 1.5em;

}

main form .form-control {
  border: none;
  background-color: #F4F5F8;
  border-radius: 0;
  width: 30rem;
  height: 3em;

}

main form .form-control:focus {
  background-color: #F4F5F8;
  box-shadow: none;
  outline: 0;
}

main form .btn {
  border: none;
  background-color: #E30612;
  border-radius: none;
  width: 100%;
  height: 3em;
  color: #fff;
  border-radius: 0;
}

main form .btn:hover {
  background-color: #e3061198;
}